* {
    margin: 0;
    
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 30px;
    flex-wrap: wrap;
    border: 5px solid black;
    background-color: rgb(255, 110, 26);

}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    border: 5px solid black;
    flex-wrap: nowrap;
    background-color: lightgrey;
  

}