*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  align-items: center;
}
.label{
  align-items: end;
}

.container .panel .feed{
  font-size: 70px;
  text-align: right;
  padding: 50px 10px;
  color: white;
}

.container{
  background-color: #1c1c1c;
  display: inline-block;
  padding: 30px 50px;
  border-radius: 30px;
  align-items: center;
  position: relative;
  top: 300px;
  left: 30%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}


.container .line button{
  color: white;

  font-size: 30px;
  height: 60px;
  width: 100px;
  margin: 5px 5px;
  border-radius: 35px;
  border: none ;
  background: #505050;
  transition: opacity 0.25s;


}
.container .line .operator-button{
  background-color: #FF9500;
}
.container .line .operator-button2{
  background-color: #D4D4D2;
}

.container .line button:hover{
  opacity: 0.8;
}

.container .line button:active{
  opacity: 0.6;
}